<!-- <div>page header</div> -->
<div class="header">
    <div class="header-container clearfix">
        <div class="hd-lt">
            <div class="logo">
                <img src="../../../assets/images/hsbc-logo-old.svg">
            </div>
        </div>
        <div class="navigation">
            <ul class="clearfix">
                <li>
                    <a href="javascipt:;">Home</a>
                </li>
                <li>
                    <a href="javascipt:;">About</a>
                </li>
                <li>
                    <a href="javascipt:;">Mobile app</a>
                </li>
                <li>
                    <a href="javascipt:;">Contact</a>
                </li>
            </ul>
        </div>
        <div class="hd-rt">
            <ul class="clearfix">
                <li>
                    <a>help</a>
                </li>
                <li>
                    <a>check</a>
                </li>
                <li>
                    <div>
                        <span class="flag flag-cn"></span>
                        <span>CN</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>