
<!-- <ul *ngIf="isShowList">
    <li *ngFor="let contact of contacts">
        <demo-item [conttr6'??????????????????????????????????????????????????????????) v\c act]="contact" (emitter)="emitterfunc($event)"></demo-item>
    </li>
</ul>
<div *ngIf="!isShowList">
    {{this.contacts}}
</div> -->
<div class="content">
    <div class="container">
        <div class="form-field">
                <input matInput placeholder="list item name" [(ngModel)] = "inputVal">
                <button mat-raised-button color="primary" (click)="doClick()">Primary</button>
        </div>
        <div class="form-field">

        </div>
    </div>
</div>